.modal__shade {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  background: rgba(0, 0, 0, .5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 600px;
  padding: 1.5rem;

  background-color: #fff;

  transform: translate3d(-50%, -50%, 0);
}

.modal__title {
  margin-bottom: .5rem;

  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
}