html {
  font-size: 62.5%;
}

.app {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding-top: 1.25rem;
}

.app__title {
  margin-bottom: 3rem;

  text-align: center;
}

.app__loading {
  margin-top: 5rem;

  font-size: 2rem;
  text-align: center;
}

@keyframes loading {
  0% {
    content: "";
  }

  25% {
    content: ".";
  }

  50% {
    content: "..";
  }

  75% {
    content: "...";
  }

  100% {
    content: "";
  }
}

.app__loading::after {
  content: "";
  animation: loading 1s infinite;
}