.nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 2rem;

  font-size: .9rem;
  color: white;

  background-color: rgb(154, 153, 153);
}

.nav__menu {
  font-weight: 700;
}

.nav__item {
  margin-right: 1.6rem;

  font-size: 1.3rem;
  color: white;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}